
* {
	box-sizing:border-box;
}

h1 {
  display:inline;
  font-size:55px;
  line-height:1.09em;
  font-family: 'Pinyon Script', cursive;
}

h2 {
  display:inline;
  font-size: 10px;
  line-height: 0.9em;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



h3 {
  display:inline;
  font-size: 10px;
  line-height:1em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h4 {
  display:inline;
  font-size: 20px;
  padding:0;
  font-family: 'Agipo Regular', Agipo Regular, Times, Georgia, serif;
}

header img {
	margin-bottom:-35px;
}

.header {
  text-align:left;
  font-family: 'Agipo Regular', Agipo Regular, Times, Georgia, serif;
  font-size: 49px;
  line-height:1.17em;
  margin: 0;
}

header a {
	text-decoration: none;
	color:red;
}

header a:hover{
	text-decoration:none;
	border-bottom: 4px dotted red;
	color:black;
}

header {
background-color:#ffffff;
padding:15px 15px 30px 15px;
}

section {
	display:inline;
}

		.container {
			padding:15px;
		}

		.primary,
		.secondary  {
			display:inline-block;
			justify-content:space-between;
			height: 420px;
		}

		article {
			background-color: #fff;
			margin:15px 0 35px 0;
			align-items:center;
			justify-content:center;
			text-align:center;
		}

		article img {
			max-width: 100%;
		}

@media (max-width: 767px) {
	.parent article {
		width: 100%;
	}
	h1 {
		font-size: 32px;
	}
	.header {
		font-size: 30px;
	}
	header img {
		margin-bottom: -14px;
	}
}

@media (min-width: 900px) {
	.parent {
		display:flex;
		flex-wrap: wrap;
		justify-content: space-between;
		height: 420px;
	}
	.parent article {
		width: calc(25% - 15px);
	}
}
